# Auto detect text files and perform LF normalization
*      text=auto

#
# The above will handle all files NOT found below
#
*.py   text diff=python whitespace=error
*.sh   text eol=lf

*.ico  binary
*.jpg  binary
*.png  binary
*.zip  binary
*.mp3  binary

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
