fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: poetry-lock-check
        name: poetry-lock-check
        language: system
        entry: poetry lock
        args: ['--no-update']
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt_
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$

      - id: generateDS
        name: generateDS
        language: system
        entry: poetry run python scripts/generate_ds.py
        args:
          - pywemo/ouimeaux_device/api/xsd/device.xsd
          - pywemo/ouimeaux_device/api/xsd/service.xsd
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]
        # These are auto-generated by generateDS and will not pass flake8.
        # Normally these would be excluded by the 'exclude' filter in
        # setup.cfg, but this is ignored when files are passed on the command
        # line. See https://github.com/pre-commit/pre-commit-hooks/issues/112
        exclude: pywemo/ouimeaux_device/api/xsd/

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        require_serial: true
        types_or: [python, pyi]
        # By default mypy will prefer .pyi files to py files if both are found
        # While traversing a directory. However mypy will fail if
        # both wemo_services.py & wemo_services.pyi are included in the
        # command line. wemo_services.py is excluded here and pyi files are
        # included in the types_or as a work-around. mypy also has an
        # 'exclude' option that can be placed in pyproject.toml, but similar
        # to flake8 above, any files passed on the command-line bypass
        # 'exclude'.
        exclude: pywemo/ouimeaux_device/api/wemo_services.py

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]
