[tool.poetry]
name = "pywemo"
version = "0.5.4"
description = "Lightweight Python module to discover and control WeMo devices"
authors = ["Greg Dowling <mail@gregdowling.com>"]
license = "MIT"

readme = 'README.rst'

repository = "https://github.com/pavoni/pywemo"
homepage = "https://github.com/pavoni/pywemo"

keywords = ['wemo', 'api']

[tool.poetry.dependencies]
python = "^3.7 || ^3.9"
ifaddr = ">=0.1.0"
requests = ">=2.0"
six = ">=1.10.0"

[tool.poetry.dev-dependencies]
flake8-docstrings = ">=1.3.0"
flake8 = ">=3.6.0"
mypy = ">=0.650"
pydocstyle = "3.0.0"
pylint = "==2.4.3"
pytest = "==5.2.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
